Repository mapbox/mapbox-java, pull requests merged in 2018-03, with the labels that each got.

#716 Update Gradle in MAS 2.x.x
  circle.yml
  mapbox/app/build.gradle
  mapbox/build.gradle
  mapbox/dependencies.gradle
  mapbox/gradle/wrapper/gradle-wrapper.properties
  mapbox/libandroid-services/build.gradle
  mapbox/libandroid-services/gradle-javadoc.gradle
  mapbox/libandroid-telemetry/build.gradle
  mapbox/libandroid-ui/build.gradle
  mapbox/libandroid-ui/gradle-javadoc.gradle
  mapbox/libjava-core/build.gradle
  mapbox/libjava-geojson/build.gradle
  mapbox/libjava-services-rx/build.gradle
  mapbox/libjava-services/build.gradle
Labels: Bug, Ready For Review

#731 Update mentions of MAS to Mapbox Java Services
  README.md
Labels: Ready For Review

#733 Add baseUrl to RouteOptions
  services-directions/src/main/java/com/mapbox/api/directions/v5/MapboxDirections.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/models/RouteOptions.java
  services-directions/src/test/java/com/mapbox/api/directions/v5/models/RouteOptionsTest.java
Labels: Directions

#732 added type and modifier to BannerText
  Makefile
  services-directions/src/main/java/com/mapbox/api/directions/v5/models/BannerText.java
  services-directions/src/test/java/com/mapbox/api/directions/v5/models/BannerTextTest.java
  services-directions/src/test/resources/directions_v5_banner_text.json
  services-matching/src/test/resources/mapmatching_v5_polyline.json
Labels: Directions, Ready For Review

#734 Make getOkHttpClient synchronized
  services-core/src/main/java/com/mapbox/core/MapboxService.java
Labels: Ready For Review

#744 Add Degrees and Driving Side to BannerText
  services-directions/src/main/java/com/mapbox/api/directions/v5/models/BannerText.java
Labels: Directions

#749 Make GeometryCollection a Geometry
  services-geocoding/src/test/java/com/mapbox/api/geocoding/v5/models/CarmenFeatureTest.java
  services-geojson/src/main/java/com/mapbox/geojson/CoordinateContainer.java
  services-geojson/src/main/java/com/mapbox/geojson/Geometry.java
  services-geojson/src/main/java/com/mapbox/geojson/GeometryCollection.java
  services-geojson/src/main/java/com/mapbox/geojson/LineString.java
  services-geojson/src/main/java/com/mapbox/geojson/MultiLineString.java
  services-geojson/src/main/java/com/mapbox/geojson/MultiPoint.java
  services-geojson/src/main/java/com/mapbox/geojson/MultiPolygon.java
  services-geojson/src/main/java/com/mapbox/geojson/Point.java
  services-geojson/src/main/java/com/mapbox/geojson/Polygon.java
  services-geojson/src/main/java/com/mapbox/geojson/gson/GeometryTypeAdapter.java
Labels: GeoJson

#760 Add tunnel javadoc for intersection classes
  services-directions/src/main/java/com/mapbox/api/directions/v5/models/StepIntersection.java
Labels: Directions, Documentation

#759 MapMaptchingMatching to DirectionsRoute
  Makefile
  services-matching/src/main/java/com/mapbox/api/matching/v5/MapboxMapMatching.java
  services-matching/src/main/java/com/mapbox/api/matching/v5/models/MapMatchingMatching.java
  services-matching/src/main/java/com/mapbox/api/matching/v5/models/MapMatchingResponse.java
  services-matching/src/test/java/com/mapbox/api/matching/v5/MapboxMapMatchingTest.java
  services-matching/src/test/resources/map_matching_v5_polyline.json
  services-matching/src/test/resources/mapmatching_v5_polyline.json
Labels: Directions

#762 Add Abbreviations and type to BannerComponent
  services-directions/src/main/java/com/mapbox/api/directions/v5/models/BannerComponents.java
  services-directions/src/test/java/com/mapbox/api/directions/v5/models/BannerComponentTest.java
Labels: Directions

#764 Add voiceUnits to MapMatching
  services-matching/src/main/java/com/mapbox/api/matching/v5/MapMatchingService.java
  services-matching/src/main/java/com/mapbox/api/matching/v5/MapboxMapMatching.java
  services-matching/src/test/java/com/mapbox/api/matching/v5/MapboxMapMatchingTest.java
Labels: Map Matching

#770 Geometry from json
  build.gradle
  services-geojson/src/main/java/com/mapbox/geojson/Geometry.java
  services-geojson/src/test/java/com/mapbox/geojson/GeometryTest.java
Labels: GeoJson

#769 bbox for arbitrary geometries
  services-turf/src/main/java/com/mapbox/turf/TurfMeasurement.java
  services-turf/src/test/java/com/mapbox/turf/TurfMeasurementTest.java
  services-turf/src/test/resources/turf-bbox/multipoint.geojson
Labels: Turf

#772 Add MaxSpeed Annotation to Directions API
  services-directions/src/main/java/com/mapbox/api/directions/v5/DirectionsCriteria.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/models/LegAnnotation.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/models/MaxSpeed.java
  services-directions/src/test/java/com/mapbox/api/directions/v5/models/MaxSpeedTest.java
Labels: Directions

#777 Adjust maxspeed annotation
  Makefile
  services-directions/src/main/java/com/mapbox/api/directions/v5/models/LegAnnotation.java
  services-directions/src/test/java/com/mapbox/api/directions/v5/MapboxDirectionsTest.java
  services-directions/src/test/resources/directions_annotations_v5.json
  services-directions/src/test/resources/directions_v5.json
  services-directions/src/test/resources/directions_v5_banner_text.json
  services-directions/src/test/resources/directions_v5_banner_with_shield.json
  services-directions/src/test/resources/directions_v5_fixtures_rotary.json
  services-directions/src/test/resources/directions_v5_max_speed_annotation.json
  services-directions/src/test/resources/directions_v5_precision_6.json
  services-directions/src/test/resources/directions_v5_roundabout_exits.json
  services-directions/src/test/resources/directions_v5_traffic.json
  services-directions/src/test/resources/directions_v5_voice_banner.json
Labels: Bug, Directions
