Repository mapbox/mapbox-java, pull requests merged in 2018-12, with the labels that each got.

#931 Release v4.1.1
  CHANGELOG.md
Labels: release

#941 Remove character waypoint names limit from MapboxMapMatching and MapboxDirections
  services-directions/src/main/java/com/mapbox/api/directions/v5/MapboxDirections.java
  services-directions/src/test/java/com/mapbox/api/directions/v5/MapboxDirectionsTest.java
  services-matching/src/main/java/com/mapbox/api/matching/v5/MapboxMapMatching.java
  services-matching/src/test/java/com/mapbox/api/matching/v5/MapboxMapMatchingTest.java
Labels: Directions, Map Matching

#936 Adding additional tests to files related to coordinate shifting
  services-core/src/test/java/com/mapbox/core/TestUtils.java
  services-geojson/src/main/java/com/mapbox/geojson/gson/CoordinateTypeAdapter.java
  services-geojson/src/test/java/com/mapbox/geojson/PointTest.java
  services-geojson/src/test/java/com/mapbox/geojson/gson/PointSerializerTest.java
  services-geojson/src/test/java/com/mapbox/geojson/shifter/ShifterTest.java
  services-geojson/src/test/resources/sample-point-with-altitude-and-bbox.json
  services-geojson/src/test/resources/sample-point-with-altitude-no-bbox.json
Labels: Test

#945 Fix README's maven central badge
  README.md
Labels: Documentation, Ready For Review
