Repository mapbox/mapbox-java, pull requests merged in 2019-02, with the labels that each got.

#958 Add Interceptor and EventListener to MapboxDirections
  services-directions/src/main/java/com/mapbox/api/directions/v5/MapboxDirections.java
  services-directions/src/test/java/com/mapbox/api/directions/v5/MapboxDirectionsTest.java
Labels: Directions, Ready For Review

#959 Add via waypoints support to MapboxDirections
  services-directions/src/main/java/com/mapbox/api/directions/v5/DirectionsService.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/MapboxDirections.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/models/RouteOptions.java
  services-directions/src/test/java/com/mapbox/api/directions/v5/MapboxDirectionsTest.java
Labels: Directions, Feature

#961 Fix via waypoints APIs naming
  services-directions/src/main/java/com/mapbox/api/directions/v5/DirectionsService.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/MapboxDirections.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/models/RouteOptions.java
  services-directions/src/test/java/com/mapbox/api/directions/v5/MapboxDirectionsTest.java
Labels: Directions, Ready For Review

#962 Fix waypoints APIs naming for map matching and directions services
  services-directions/src/main/java/com/mapbox/api/directions/v5/DirectionsService.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/MapboxDirections.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/models/RouteOptions.java
  services-directions/src/test/java/com/mapbox/api/directions/v5/MapboxDirectionsTest.java
  services-matching/src/main/java/com/mapbox/api/matching/v5/MapMatchingService.java
  services-matching/src/main/java/com/mapbox/api/matching/v5/MapboxMapMatching.java
  services-matching/src/test/java/com/mapbox/api/matching/v5/MapboxMapMatchingTest.java
Labels: Directions, Map Matching, Ready For Review

#963 Pass error responses for Mapbox Directions and MapMatching
  services-directions/src/main/java/com/mapbox/api/directions/v5/DirectionsResponseFactory.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/MapboxDirections.java
  services-matching/src/main/java/com/mapbox/api/matching/v5/MapboxMapMatching.java
  services-matching/src/main/java/com/mapbox/api/matching/v5/MatchingResponseFactory.java
Labels: Directions, Map Matching, Ready For Review

#955 Directions Refresh new implementation
  build.gradle
  samples/build.gradle
  samples/src/main/java/com/mapbox/samples/BasicDirectionsRefresh.java
  services-directions-refresh/.gitignore
  services-directions-refresh/build.gradle
  services-directions-refresh/src/main/java/com/mapbox/api/directionsrefresh/v1/DirectionsRefreshService.java
  services-directions-refresh/src/main/java/com/mapbox/api/directionsrefresh/v1/MapboxDirectionsRefresh.java
  services-directions-refresh/src/main/java/com/mapbox/api/directionsrefresh/v1/models/DirectionsRefreshAdapterFactory.java
  services-directions-refresh/src/main/java/com/mapbox/api/directionsrefresh/v1/models/DirectionsRefreshResponse.java
  services-directions-refresh/src/main/java/com/mapbox/api/directionsrefresh/v1/models/package-info.java
  services-directions-refresh/src/main/java/com/mapbox/api/directionsrefresh/v1/package-info.java
  services-directions-refresh/src/test/java/com/mapbox/api/directionsrefresh/v1/MapboxDirectionsRefreshTest.java
  services-directions-refresh/src/test/resources/directions_refresh_v1.json
  services-directions/src/main/java/com/mapbox/api/directions/v5/DirectionsService.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/MapboxDirections.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/models/DirectionsResponse.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/models/DirectionsRoute.java
  services/build.gradle
  settings.gradle
Labels: Directions, Feature, Ready For Review

#975 Added directions POST support
  Makefile
  samples/src/main/java/com/mapbox/samples/BasicDirections.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/DirectionsService.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/MapboxDirections.java
  services-directions/src/test/java/com/mapbox/api/directions/v5/MapboxDirectionsTest.java
  services-directions/src/test/resources/directions_v5_post.json
Labels: Ready For Review

#973 Add explicit US locale to String.Format of bouding box
  services-route-tiles/src/main/java/com/mapbox/api/routetiles/v1/MapboxRouteTiles.java
Labels: Ready For Review

#977 Added automatic choosing of POST method when a method is not specified and the url for a get call is longer than 1024*8
  services-directions/src/main/java/com/mapbox/api/directions/v5/MapboxDirections.java
  services-directions/src/test/java/com/mapbox/api/directions/v5/MapboxDirectionsTest.java
Labels: Ready For Review

#978 Updated map matching to use a POST request if the url for a GET request is larger than the maximum allowed size
  services-core/src/main/java/com/mapbox/core/MapboxService.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/MapboxDirections.java
  services-matching/src/main/java/com/mapbox/api/matching/v5/MapboxMapMatching.java
  services-matching/src/test/java/com/mapbox/api/matching/v5/MapboxMapMatchingTest.java
Labels: Map Matching
