Repository mapbox/mapbox-java, pull requests merged in 2019-05, with the labels that each got.

#1015 Adding missing `@NonNull` annotations to coordAll() parameters
  services-turf/src/main/java/com/mapbox/turf/TurfMeta.java
Labels: Documentation, Ready For Review, Turf, starter-task

#991 Added walking options
  samples/src/main/java/com/mapbox/samples/BasicDirections.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/DirectionsResponseFactory.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/DirectionsService.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/MapboxDirections.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/WalkingOptions.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/WalkingOptionsAdapterFactory.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/models/DirectionsJsonObject.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/models/RouteOptions.java
  services-directions/src/test/java/com/mapbox/api/directions/v5/MapboxDirectionsTest.java
  services-directions/src/test/java/com/mapbox/api/directions/v5/models/RouteOptionsTest.java
  services-directions/src/test/java/com/mapbox/api/directions/v5/models/WalkingOptionsTest.java
Labels: Blocked, Directions

#1028 Fix walking options serialization
  services-directions/src/main/java/com/mapbox/api/directions/v5/WalkingOptions.java
  services-directions/src/test/java/com/mapbox/api/directions/v5/MapboxDirectionsTest.java
  services-directions/src/test/java/com/mapbox/api/directions/v5/models/RouteOptionsTest.java
  services-directions/src/test/java/com/mapbox/api/directions/v5/models/WalkingOptionsTest.java
Labels: Directions, Ready For Review

#1020 TurfMeasurement#envelope
  docs/turf-port.md
  services-turf/src/main/java/com/mapbox/turf/TurfMeasurement.java
  services-turf/src/test/java/com/mapbox/turf/TurfMeasurementTest.java
  services-turf/src/test/resources/turf-envelope/feature-collection.geojson
Labels: Turf

#1032 Removed the last updated line from ported Turf method list
  docs/turf-port.md
Labels: Documentation, Ready For Review, Turf

#1038 Adjusted link to Turf installation instructions
  services-turf/README.md
Labels: Documentation, Ready For Review

#1019 TurfMeasurement#square
  docs/turf-port.md
  services-turf/src/main/java/com/mapbox/turf/TurfMeasurement.java
  services-turf/src/test/java/com/mapbox/turf/TurfMeasurementTest.java
Labels: Turf
