Repository mapbox/mapbox-java, pull requests merged in 2019-09, with the labels that each got.

#1071 Changelog updates for 4.9.0-alpha.1 release
  CHANGELOG.md
  README.md
  gradle.properties
Labels: Ready For Review, release

#1074 [geocoding] Add intersection search support.
  CHANGELOG.md
  services-geocoding/src/main/java/com/mapbox/api/geocoding/v5/MapboxGeocoding.java
  services-geocoding/src/test/java/com/mapbox/api/geocoding/v5/GeocodingTestUtils.java
  services-geocoding/src/test/java/com/mapbox/api/geocoding/v5/MapboxGeocodingTest.java
  services-geocoding/src/test/resources/forward_intersection.json
Labels: Geocoding, Ready For Review

#1075 [turf] Add polygonToLine method.
  CHANGELOG.md
  docs/turf-port.md
  services-turf/src/main/java/com/mapbox/turf/TurfConversion.java
  services-turf/src/test/java/com/mapbox/turf/TestUtils.java
  services-turf/src/test/java/com/mapbox/turf/TurfConversionTest.java
  services-turf/src/test/resources/turf-polygon-to-line/expected/geometry-polygon.geojson
  services-turf/src/test/resources/turf-polygon-to-line/expected/multi-polygon-outer-doughnut.geojson
  services-turf/src/test/resources/turf-polygon-to-line/expected/multi-polygon-with-holes.geojson
  services-turf/src/test/resources/turf-polygon-to-line/expected/multi-polygon.geojson
  services-turf/src/test/resources/turf-polygon-to-line/expected/polygon-with-hole.geojson
  services-turf/src/test/resources/turf-polygon-to-line/expected/polygon.geojson
  services-turf/src/test/resources/turf-polygon-to-line/in/geometry-polygon.geojson
  services-turf/src/test/resources/turf-polygon-to-line/in/multi-polygon-outer-doughnut.geojson
  services-turf/src/test/resources/turf-polygon-to-line/in/multi-polygon-with-holes.geojson
  services-turf/src/test/resources/turf-polygon-to-line/in/multi-polygon.geojson
  services-turf/src/test/resources/turf-polygon-to-line/in/polygon-with-hole.geojson
  services-turf/src/test/resources/turf-polygon-to-line/in/polygon.geojson
Labels: Ready For Review, Turf

#1076 Added hyperlinks to changelog entries that needed them
  CHANGELOG.md
Labels: Documentation, Ready For Review

#1078 Adjust @since 4.10.0 annotations to 4.9.0
  services-geocoding/src/main/java/com/mapbox/api/geocoding/v5/MapboxGeocoding.java
  services-turf/src/main/java/com/mapbox/turf/TurfConversion.java
Labels: Ready For Review

#1080 Changelog updates for stable 4.9.0 release
  CHANGELOG.md
Labels: Ready For Review

#1079 [turf] Add turf area measurement method.
  CHANGELOG.md
  docs/turf-port.md
  services-turf/src/main/java/com/mapbox/turf/TurfMeasurement.java
  services-turf/src/test/java/com/mapbox/turf/TurfMeasurementTest.java
  services-turf/src/test/resources/turf-area/featurecollection-polygon.geojson
  services-turf/src/test/resources/turf-area/featurecollection-polygon.json
  services-turf/src/test/resources/turf-area/geometry-polygon.geojson
  services-turf/src/test/resources/turf-area/geometry-polygon.json
  services-turf/src/test/resources/turf-area/multi-polygon.geojson
  services-turf/src/test/resources/turf-area/multi-polygon.json
  services-turf/src/test/resources/turf-area/polygon.geojson
  services-turf/src/test/resources/turf-area/polygon.json
Labels: Ready For Review, Turf

#1008 Adding combine turf method
  docs/turf-port.md
  services-turf/src/main/java/com/mapbox/turf/TurfConversion.java
  services-turf/src/test/java/com/mapbox/turf/TurfConversionTest.java
Labels: Ready For Review, Turf
