Repository mapbox/mapbox-java, pull requests merged in 2019-06, with the labels that each got.

#1039 Add Interceptor support to Directions Refresh API and enable Debug logging
  services-directions-refresh/src/main/java/com/mapbox/api/directionsrefresh/v1/MapboxDirectionsRefresh.java
Labels: Directions, Feature, Ready For Review

#1022 Rename references of `mapIds` to `tileSetIds`
  services-tilequery/src/main/java/com/mapbox/api/tilequery/MapboxTilequery.java
  services-tilequery/src/main/java/com/mapbox/api/tilequery/TilequeryService.java
Labels: SEMVER-MAJOR, Tilequery, refactor

#1046 Revert "Rename references of `mapIds` to `tileSetIds` (#1022)"
  services-tilequery/src/main/java/com/mapbox/api/tilequery/MapboxTilequery.java
  services-tilequery/src/main/java/com/mapbox/api/tilequery/TilequeryService.java
Labels: Ready For Review

#1051 Added fuzzyMatch support to MapboxGeocoding
  services-geocoding/src/main/java/com/mapbox/api/geocoding/v5/GeocodingService.java
  services-geocoding/src/main/java/com/mapbox/api/geocoding/v5/MapboxGeocoding.java
  services-geocoding/src/test/java/com/mapbox/api/geocoding/v5/MapboxGeocodingTest.java
Labels: Geocoding, Ready For Review

#1055 Adjustments to TurfMeasurement#bboxPolygon() to return a Feature instead of Polygon
  services-turf/src/main/java/com/mapbox/turf/TurfMeasurement.java
  services-turf/src/test/java/com/mapbox/turf/TurfMeasurementTest.java
Labels: Ready For Review, Turf

#1058 Added new nearestPointOnLine default and custom distance unit
  services-turf/src/main/java/com/mapbox/turf/TurfMisc.java
  services-turf/src/test/java/com/mapbox/turf/TurfMiscTest.java
Labels: Turf
