Repository mapbox/mapbox-java, pull requests merged in 2019-04, with the labels that each got.

#988 Adding Isochrone API support
  Makefile
  build.gradle
  samples/build.gradle
  samples/src/main/java/com/mapbox/samples/BasicIsochrone.java
  services-core/src/main/java/com/mapbox/core/utils/TextUtils.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/DirectionsResponseFactory.java
  services-isochrone/.gitignore
  services-isochrone/build.gradle
  services-isochrone/src/main/java/com/mapbox/api/isochrone/IsochroneCriteria.java
  services-isochrone/src/main/java/com/mapbox/api/isochrone/IsochroneService.java
  services-isochrone/src/main/java/com/mapbox/api/isochrone/MapboxIsochrone.java
  services-isochrone/src/main/java/com/mapbox/api/isochrone/models/package-info.java
  services-isochrone/src/main/java/com/mapbox/api/isochrone/package-info.java
  services-isochrone/src/test/java/com/mapbox/api/isochrone/IsochroneTestUtils.java
  services-isochrone/src/test/java/com/mapbox/api/isochrone/MapboxIsochroneTest.java
  services-isochrone/src/test/resources/isochroneNoPolygons.json
  services-isochrone/src/test/resources/isochroneWithPolygons.json
  services-matching/src/main/java/com/mapbox/api/matching/v5/MatchingResponseFactory.java
  services/build.gradle
  settings.gradle
Labels: Feature, Isochrone, Ready For Review

#990 Fixing banner MAS models to match what actually comes from Directions API
  services-directions/src/main/java/com/mapbox/api/directions/v5/models/BannerComponents.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/models/BannerInstructions.java
  services-directions/src/main/java/com/mapbox/api/directions/v5/models/BannerText.java
  services-directions/src/test/java/com/mapbox/api/directions/v5/models/BannerInstructionsTest.java
Labels: Directions, refactor

#997 Adding userAgent parameter to Isochrone request retrofit call URL
  services-isochrone/src/main/java/com/mapbox/api/isochrone/IsochroneCriteria.java
  services-isochrone/src/main/java/com/mapbox/api/isochrone/IsochroneService.java
  services-isochrone/src/main/java/com/mapbox/api/isochrone/MapboxIsochrone.java
Labels: Bug, Isochrone, Ready For Review, refactor

#999 added overloaded method bbox that takes in a BoundingBox
  services-geocoding/src/main/java/com/mapbox/api/geocoding/v5/MapboxGeocoding.java
  services-geocoding/src/test/java/com/mapbox/api/geocoding/v5/MapboxGeocodingTest.java
Labels: Geocoding

#1001 Feature.get*Property should return null for non-existent property
  services-geojson/src/main/java/com/mapbox/geojson/Feature.java
  services-geojson/src/test/java/com/mapbox/geojson/FeatureTest.java
Labels: GeoJson

#1006 Adding BoundingBoxPolygon turf method
  docs/turf-port.md
  services-turf/src/main/java/com/mapbox/turf/TurfMeasurement.java
  services-turf/src/test/java/com/mapbox/turf/TurfMeasurementTest.java
  services-turf/src/test/resources/turf-bbox-polygon/linestring.geojson
  services-turf/src/test/resources/turf-bbox-polygon/multipoint.geojson
  services-turf/src/test/resources/turf-bbox-polygon/multipolygon.geojson
Labels: Ready For Review, Turf

#1009 Adding coordAll() versions for Feature, FeatureCollection, and Geometry parameters
  services-turf/src/main/java/com/mapbox/turf/TurfMeta.java
  services-turf/src/test/java/com/mapbox/turf/TurfMetaTest.java
Labels: Ready For Review, Turf
