Repository mapbox/mapbox-java, pull requests merged in 2020-09, with the labels that each got.

#1172 DirectionRoute: added `durationTypical` for Route, Leg and Step; VERSION_NAME: updated to `5.4.1-SNAPSHOT`
  gradle.properties
  services-directions-models/src/main/java/com/mapbox/api/directions/v5/models/DirectionsRoute.java
  services-directions-models/src/main/java/com/mapbox/api/directions/v5/models/LegStep.java
  services-directions-models/src/main/java/com/mapbox/api/directions/v5/models/RouteLeg.java
Labels: Directions, Feature, Ready For Review

#1173 update VERSION_NAME: 5.4.1-SNAPSHOT -> 5.5.0-SNAPSHOT
  gradle.properties
Labels: Bug, Ready For Review

#1176 Release 5.5.0
  CHANGELOG.md
  README.md
  gradle.properties
Labels: Ready For Review

#1181 expose intersection's `geometry_index`
  services-directions-models/src/main/java/com/mapbox/api/directions/v5/models/StepIntersection.java
  services-directions-models/src/test/java/com/mapbox/api/directions/v5/models/StepIntersectionTest.java
Labels: Directions, Feature, Ready For Review

#1149 Fix tests running locally
  services-turf/src/test/java/com/mapbox/turf/TestUtils.java
Labels: Turf

#1192 Adjusting javadoc info about Turf circle methods
  services-turf/src/main/java/com/mapbox/turf/TurfTransformation.java
Labels: Documentation, Ready For Review

#1197 tunnelName field
  services-directions-models/src/main/java/com/mapbox/api/directions/v5/models/StepIntersection.java
  services-directions-models/src/test/java/com/mapbox/api/directions/v5/models/StepIntersectionTest.java
Labels: Directions
