Repository mapbox/mapbox-java, pull requests merged in 2020-05, with the labels that each got.

#1139 Refactor turf measurement functions
  services-turf/src/main/java/com/mapbox/turf/TurfMeasurement.java
Labels: Ready For Review, Turf

#1142 Add step maneuver modifier constants
  services-directions-models/src/main/java/com/mapbox/api/directions/v5/models/BannerText.java
  services-directions-models/src/main/java/com/mapbox/api/directions/v5/models/BannerView.java
  services-directions-models/src/main/java/com/mapbox/api/directions/v5/models/ManeuverModifier.java
  services-directions-models/src/main/java/com/mapbox/api/directions/v5/models/StepManeuver.java
  services-directions-models/src/test/java/com/mapbox/api/directions/v5/models/StepManeuverTest.java
Labels: Ready For Review

#1146 Update maneuver modifier type to be public
  services-directions-models/src/main/java/com/mapbox/api/directions/v5/models/ManeuverModifier.java
Labels: Directions, Ready For Review

#1150 Porting TurfMeasurement.center
  docs/turf-port.md
  services-turf/src/main/java/com/mapbox/turf/TurfMeasurement.java
  services-turf/src/test/java/com/mapbox/turf/TurfMeasurementTest.java
Labels: Ready For Review, Turf
